.hero {
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__img {
    width: 95%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 95%;
    
    &__heading {
      font-weight: 700;
      font-size: 6rem;
      margin-bottom: 2.4rem;

      @media(max-width: 768px) {
        font-size: 4rem;
        margin-bottom: 0;
      }
    }

    &__subheading {
      font-weight: 400;
      font-size: 2.4rem;
      margin-bottom: 2.4rem;
    }
  }
}