.what {
  height: 85vh;

  @media(max-width: 768px) {
    margin-top: 3rem;
  }

  &__header {
    height: 15vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      font-size: 6rem;
      font-weight: 300;

      @media(max-width: 768px) {
        font-size: 4rem;
      }
    }
  }

  &__body {
    background: $light-blue;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba($light-blue, 0.7), rgba($dark-blue, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba($light-blue, 0.7), rgba($dark-blue, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    color: white;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 768px) {
      flex-direction: column;
      height: 120vh;
      -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
      clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    }

    &__card {
      width: 95%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;

      @media(max-width: 768px) {
        height: 35vh;
      }
  
      &__icon {
        font-size: 5rem;
      }
  
      &__heading {
        font-size: 4.5rem;
        font-weight: 300;

        @media(max-width: 768px) {
          font-size: 2.8rem;
        }
      }
  
      &__text {
        font-size: 1.6rem;
        text-align: center;
      }
    }
  }
}