<% include partials/header %>

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="img/logo.png" alt="Startup Logo" data-aos="zoom-in" data-aos-delay="300">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
        <a href="#" class="nav-item nav-link mx-4 active" data-aos="fade-down" data-aos-delay="500">Home</a>
        <a href="#" class="nav-item nav-link mx-4" data-aos="fade-down" data-aos-delay="600">Features</a>
        <a href="#" class="nav-item nav-link mx-4" data-aos="fade-down" data-aos-delay="700">Pricing</a>
        <button class="btn btn-outline-primary btn-lg px-4 py-2 mx-4" data-aos="fade-down" data-aos-delay="800">Get Started</button>
      </div>
    </div>
  </div>
</nav>

<!-- Hero -->
<div class="container">
  <section class="hero">
    <div class="col-md-6">
      <img src="img/hero.png" alt="Startup Hero" class="hero__img my-auto" data-aos="fade-down" data-aos-delay="300">
    </div>
    <div class="col-md-6">
      <div class="hero__content">
        <h1 class="hero__content__heading" data-aos="fade-right" data-aos-delay="600">
          Create The Best Startup of All Time
        </h1>
        <h2 class="hero__content__subheading" data-aos="fade-right" data-aos-delay="900">
          Startup helps people get started up.
        </h2>
        <button class="btn btn-outline-primary btn-lg px-4 py-2" data-aos="fade-right" data-aos-delay="1200">Get Started</button>
      </div>
    </div>
  </div>
</section>

<!-- What We Do -->
<section class="what">
  <div class="what__header">
    <h1 class="what__header__title">What We Do</h1>
  </div>
  <div class="what__body">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="what__body__card" data-aos="flip-down" data-aos-delay="200">
            <i class="fas fa-users what__body__card__icon"></i> 
            <h3 class="what__body__card__heading">Marketing</h3>
            <p class="what__body__card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Quis reiciendis consectetur voluptatibus quod, sapiente voluptas.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what__body__card" data-aos="flip-down" data-aos-delay="400">
            <i class="fas fa-flask what__body__card__icon"></i> 
            <h3 class="what__body__card__heading">Research</h3>
            <p class="what__body__card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Quis reiciendis consectetur voluptatibus quod, sapiente voluptas.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what__body__card" data-aos="flip-down" data-aos-delay="600">
            <i class="fas fa-landmark what__body__card__icon"></i> 
            <h3 class="what__body__card__heading">Architecture</h3>
            <p class="what__body__card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Quis reiciendis consectetur voluptatibus quod, sapiente voluptas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials">
  <div class="testimonials__header">
    <h1 class="testimonials__header__title">
      Testimonials
    </h1>
  </div>
  <div class="testimonials__body">
    <div class="container">
      <div class="testimonials__body__card" data-aos="fade-right" data-aos-delay="200">
        <p class="testimonials__body__card__quote">
          I always believed in myself, but I never thought my startup would 
          take off like this!
        </p>
        <p class="testimonials__body__card__author">
          – Greg Smith | CEO - Deflux
        </p>
      </div>
      <div class="testimonials__body__card" data-aos="fade-right" data-aos-delay="200">
        <p class="testimonials__body__card__quote">
          I don't know what you guys did, but you sure did an amazing job!
        </p>
        <p class="testimonials__body__card__author">
          – Elizabeth Percy | Founder - Origins
        </p>
      </div>
      <div class="testimonials__body__card" data-aos="fade-right" data-aos-delay="200">
        <p class="testimonials__body__card__quote">
          Our company was on it's last leg... $120,000 in debt, but now we 
          just hit <em>one million</em> in total sales! All thanks to Startup.
        </p>
        <p class="testimonials__body__card__author">
          – John Daniels | CEO - Red Label
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<div class="container">
  <section class="cta">
    <div class="cta__header">
      <h1 class="cta__header__title">
        What Are You Waiting For?
      </h1>
    </div>
    <div class="cta__body">
      <button class="btn btn-outline-primary py-2 px-4" data-aos="zoom-in" data-aos-delay="200">Get Started</button>
    </div>
  </section>
</div>

<!-- Footer -->
<div class="container">
  <footer class="footer">
    <div class="col-md-4">
      <div class="footer__info">
        <p class="footer__info__email">info@startup.com</p>
        <p class="footer__info__phone">555.555.5555</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer__logo">
        <img class="footer__logo__img" src="img/logo.png" alt="Startup Logo">
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer__location">
        <p class="footer__location__address">
          1234 Main St.
        </p>
        <p class="footer__location__area">
          California, USA
        </p>
      </div>
    </div>
  </footer>
</div>

<% include partials/footer %>