<% include partials/header %>

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="img/logo.png" alt="Startup Logo">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <a href="#" class="nav-item nav-link mx-4">Home</a>
        <a href="#" class="nav-item nav-link mx-4">Features</a>
        <a href="#" class="nav-item nav-link mx-4">Pricing</a>
        <button class="btn btn-outline-primary btn-lg px-4 py-2 mx-4">Get Started</button>
      </div>
    </div>
  </div>
</nav>

<% include partials/footer %>