<% include partials/header %>

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="img/logo.png" alt="Startup Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
        <a href="#" class="nav-item nav-link mx-4 active">Home</a>
        <a href="#" class="nav-item nav-link mx-4">Features</a>
        <a href="#" class="nav-item nav-link mx-4">Pricing</a>
        <button class="btn btn-outline-primary btn-lg px-4 py-2 mx-4">Get Started</button>
      </div>
    </div>
  </div>
</nav>

<!-- Hero -->
<section class="container">
  <div class="hero">
    <img src="img/hero.png" alt="Startup Hero" class="hero__img my-auto">
    <div class="hero__content">
      <h1 class="hero__content__heading">
        The Best Startup of All Time
      </h1>
      <h2 class="hero__content__subheading">
        Startup helps people get started up.
      </h2>
      <button class="btn btn-outline-primary btn-lg px-4 py-2">Get Started</button>
    </div>
  </div>
</section>

<% include partials/footer %>